echo "Sourcing alias module"


(alias | rg '^ga=' &> /dev/null) && unalias ga
(alias | rg '^gr=' &> /dev/null) && unalias gr
(alias | rg '^grm=' &> /dev/null) && unalias grm

alias _complete=_bash_comp
alias _expand=_bash_expand
alias creds='nvim ~/.aws/credentials'
alias distro='cat /etc/*-release'
alias fix='. ~/bin/fix.sh'
alias gb='git branch'
alias gbD='git branch -D'
alias gc='git commit'
alias gca='git commit -a'
alias gcf='git config --list'
alias gcl='git clone'
alias gcp='git cherry-pick'
alias gf='git fetch'
alias gfa='git fetch --all --prune --jobs=10'
alias gfo='git fetch origin'
alias gl='git log'
alias grf='git reflog'
alias grb='git rebase'
alias grbm='git rebase origin/master'
alias gst='git stash'
alias gs='git status'
alias gco='git checkout'

alias history=omz_history

alias iex='iex --erl "-kernel shell_history enabled"'

alias k=kubectl
alias ks='kubectl ns'
alias kx='kubectl ctx'

alias md='mkdir -p'
alias rd=rmdir

alias oaf='nvim ~/.shell/.aliases'
alias saf='source ~/.shell/.aliases'
alias orc='nvim ~/.zshrc'
alias src='. ~/.zshrc'
alias tconf='nvim ~/.tmux.conf'
alias vconf='nvim ~/.config/nvim/init.vim'
alias lconf='lvim ~/Projects/Config/dotfiles/lazyvim/init.lua +:cd ~/Projects/Config/dotfiles/lazyvim/'
alias kconf='nvim ~/.kube/config'
alias sshconf='nvim ~/.ssh/config'
alias awsconf='nvim ~/.aws/config'
alias pgconf='nvim ~/.psqlrc'
alias y='pbcopy'
alias p=pbpaste

alias small='. ~/.oh-my-zsh/themes/robbyrussell.zsh-theme'
alias large='. ~/.oh-my-zsh/themes/xiong-chiamiov-plus-custom.zsh-theme'
alias dm=lazydocker
alias tf=terraform
alias mydocker='docker build -t mydocker . && docker run --cap-add="SYS_ADMIN" mydocker'
alias saf='source ~/.shell/.aliases'
alias lvim='NVIM_APPNAME=lazyvim nvim'
