echo "Sourcing alias module"

alias _complete=_bash_comp
alias _expand=_bash_expand
alias creds='nvim ~/.aws/credentials'
alias distro='cat /etc/*-release'
alias fix='. ~/bin/fix.sh'
alias ga='git add'
alias gb='git branch'
alias gbD='git branch -D'
alias gc='git commit -m'
alias gca='git commit -a -m'
alias gbc='git checkout -b'
alias gcf='git config --list'
alias gcl='git clone'
alias gcp='git cherry-pick'
alias gf='git fetch'
alias gfa='git fetch --all --prune --jobs=10'
alias gfo='git fetch origin'
alias gl='git log'
alias gr='git reflog'
alias google='noglob '\''/Applications/Google Chrome.app/Contents/MacOS/Google Chrome'\'
alias grb='git rebase'
alias grbm='git rebase origin/master'
alias grs='git restore --staged'
alias gst='git stash'
alias gs='git status'
unalias gco

alias history=omz_history
alias j=jobs

alias k=kubectl
alias ks='kubectl ns'
alias kx='kubectl ctx'

alias ls=exa
alias md='mkdir -p'
alias rd=rmdir

alias oaf='nvim ~/.aliases'
alias orc='nvim ~/.zshrc'
alias src='. ~/.zshrc'
alias vconf='nvim ~/.config/nvim/init.vim'
alias y='pbcopy'
alias p=pbpaste

alias small='. ~/.oh-my-zsh/themes/robbyrussell.zsh-theme'
alias large='. ~/.oh-my-zsh/themes/xiong-chiamiov-plus-custom.zsh-theme'
alias dm=lazydocker
alias tf=terraform
alias al='cd $ALBERT_PROJECTS'
alias pr='cd ~/Projects/personal'
