alias pypen='open -a "/Applications/PyCharm CE.app"'
alias vspen='open -a "/Applications/Visual Studio Code.app"'
alias tql='textql -header -sql'

#bash profile shortcuts
alias crc='cat ~/.zshrc'
alias orc='nvim ~/.zshrc'
alias src='. ~/.zshrc'

#git
alias branch="git status | head -n 1 | cut -d' ' -f3"


#copy/paste
alias y='pbcopy'
alias p='pbpaste'

#nvim
alias vconf='nvim ~/.config/nvim/init.vim'
#end

alias l='exa'
alias ls='exa'
alias la='exa -a'
alias ll='exa -l' 

alias bat='bat --theme "Solarized (light)"'

#misc
alias  firefox='noglob /Applications/Firefox.app/Contents/MacOS/firefox'
alias chrome="noglob '/Applications/Google Chrome.app/Contents/MacOS/Google Chrome'"
alias distro='cat /etc/*-release'
alias  L='| bat'




alias python=python3
alias ipython=ipython3
alias staging_db_tunnel='ssh -N -L 5439:staging-n-data-vault.cknudfpx4kmc.us-west-2.redshift.amazonaws.com:5439 adam.lefevre@dbaproxy.devtempus.com -v'
alias production_db_tunnel='ssh -N -L 5439:production-n-data-vault.cb63p8hxsrbb.us-east-1.redshift.amazonaws.com:5439 adam.lefevre@dbaproxy.securetempus.com -v'
alias clq_production_db_tunnel='ssh -N -L 5439:clq-data-vault.cb63p8hxsrbb.us-east-1.redshift.amazonaws.com:5439 adam.lefevre@dbaproxy.securetempus.com -v'
alias order_hub_db_tunnel='ssh -N -L 3306:production-orderhub.cluster-ro-c5vznkm3wdcg.us-east-1.rds.amazonaws.com:3306 adam.lefevre@dbaproxy.securetempus.com -v'
alias orderhub_staging_db_tunnel='ssh -N -L 3306:staging-orderhub.cluster-ro-clatowau039y.us-west-2.rds.amazonaws.com:3306 adam.lefevre@dbaproxy.devtempus.com -v'
alias infra_db_tunnel='ssh -N -i ~/.ssh/infra-proxy.pem -L 3306:better-oh.cluster-c17dbtxhvbx7.us-east-1.rds.amazonaws.com:3306 ubuntu@3.81.28.176 -v'
alias dp_analysis_box='ssh -i ~/.ssh/dp_analysis_test_keys.pem ubuntu@ec2-35-163-176-0.us-west-2.compute.amazonaws.com'
alias dp_tunnel='ssh -i ~/.ssh/dp_analysis_test_keys.pem -N -L 5432:dp-analysis.cluster-c1jdil6o4ttd.us-west-2.rds.amazonaws.com:5432 ubuntu@ec2-35-163-176-0.us-west-2.compute.amazonaws.com -v'
alias social_tunnel='ssh -i ~/.ssh/social-match.pem -f -N -L 5432:social-match.cvkhobepgbf1.us-east-1.rds.amazonaws.com:5432 ubuntu@ec2-54-227-74-106.compute-1.amazonaws.com sleep 10'
alias emr_tunnel='ssh -o ServerAliveInterval=10 -i ~/.ssh/infra-proxy.pem -N -L 10001:localhost:10001 hadoop@ec2-34-201-127-223.compute-1.amazonaws.com -v'
alias tql='textql -header -sql'
alias build_flyway='docker-compose -f docker/flyway/docker-compose.yml build && docker-compose -f docker/flyway/docker-compose.yml run flyway'
alias test_flyway='docker-compose -f docker/pg/docker-compose.local.yml up n-ddl-pg'
alias cbp='cat ~/.bash_profile'
alias obp='nvim ~/.bash_profile'
alias sbp='. ~/.bash_profile'
alias test='python -m pytest'
alias pypen='open -a /Applications/PyCharm.app'
alias branch="git status | head -n 1 | cut -d' ' -f3"
alias atom='/Applications/Atom.app/Contents/MacOS/Atom'
alias ghci='stack ghci'
alias vconf='nvim ~/.config/nvim/init.vim'
#alias fix='. ~/fix-prompt.sh'
alias oaf='nvim ~/.aliases'
alias j='jobs'
alias fix='. ~/bin/fix'
alias beta='sudo ssh -i ~/.ssh/alex-test.pem  -N -L  80:beta-crowd-point-api.crowdpointanalytics.com:80 -L 2000:platform.crowdpointanalytics.com:80  ubuntu@3.82.143.110 &> /dev/null &'
